/* Animasi Underline */
@import "tailwindcss";

.navbar-link {
  @apply relative md:text-black md:hover:text-sky-900 transition-colors duration-300 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-[2px] after:bg-sky-900 after:transition-all after:duration-300 md:hover:after:w-full;
}


/* grid start */

.cards-container {
  @apply grid grid-cols-1 md:grid-cols-2 gap-6 w-full;
}

.card-apply {
  @apply bg-white shadow-md p-4 rounded-lg flex items-center relative overflow-hidden w-full transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg;
}

.card-content {
  @apply flex justify-between w-full;
}

.card-text {
  @apply flex flex-col gap-2 z-50;
}

.card-number {
  @apply w-7 md:w-12;
}

.number {
  @apply font-bold text-2xl text-black;
}

.card-title {
  @apply font-bold text-lg md:text-xl;
}

.card-image {
  @apply absolute top-0 right-0 w-36 h-full overflow-hidden rounded-bl-full transition-all duration-700;
}

.image {
  @apply w-full h-full object-cover object-center;
}


/* grid end */