.heading-1 {
    font-weight: bold;
    font-size: 24px;
}

@media (min-width: 640px) {
    .heading-1 {
        font-size: 28px;
    }
}

.heading-2 {
    font-weight: bold;
    font-size: 16px;
}

@media (min-width: 640px) {
    .heading-2 {
        font-size: 20px;
    }
}

.heading-3 {
    font-weight: bold;
    font-size: 12px;
}

@media (min-width: 640px) {
    .heading-3 {
        font-size: 16px;
    }
}

.subtitle-2 {
    font-weight: 600;
    font-size: 16px;
}

@media (min-width: 640px) {
    .subtitle-2 {
        font-size: 18px;
    }
}



.body-2 {
    font-size: 12px;
}

@media (min-width: 640px) {
    .body-2 {
        font-size: 16px;
    }
}




/* campur */

/* Section Title */
.text-title {
    color: #1e6e36;
    text-align: center;
    margin-bottom: 1rem;
}

.text-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #1e6e36;
    margin: 0.5rem auto 1.5rem;
}

/* Section Description */

.text-description {
    text-align: center;
    margin: 0 auto;
    color: #333;
    font-size: 12px;
}

@media (min-width: 1024px) {
    .text-description {
        font-size: 15px;
        text-align: justify;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {

    /* .about-title {
      font-size: 1.5rem;
    } */
    .text-description {
        width: 75%;
    }
}